
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--
  SE AGREGO *ngIf A CADA ITEM DESLIZABLE PARA QUE APAREZCA SOLAMENTE AQUELLA ACCION POSIBLE
  ES DECIR, SI YA ESTA MARCADO COMO FAVORITO, ESTA OPCION (side="start") NO APARECE, SOLAMENTE
  AQUELLA PARA ELIMINAR, Y VICEVERSA

  SE AÑADIO FUNCIONALIDAD A LOS BOTONES, SE PUEDE AGREGAR Y ELIMINAR NOMBRES DE LA LISTA DE FAVORITOS
-->

<ion-content [fullscreen]="true"> 
  <ion-list *ngFor="let alumno of alumnos">

    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="success" (click)="addFav(alumno)" *ngIf="!favoritos.includes(alumno)">Agregar a favoritos</ion-item-option>
      </ion-item-options>

      <ion-item>
        {{alumno}}
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentActionSheet(alumno)" *ngIf="favoritos.includes(alumno)">Eliminar de favoritos</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  
  </ion-list>

</ion-content>